name: Docker Publish

on:
  push:
    branches: ["main","master"]
  schedule:
    - cron: "0 0 * * *"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
      - name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push (Ubuntu 22.04)
        uses: docker/build-push-action@v3.2.0
        with:
          context: .
          file: ./Dockerfile.ubuntu-2204
          platforms: linux/amd64
          push: true
          tags: |
            gameservermanagers/steamcmd:latest
            gameservermanagers/steamcmd:ubuntu-22.04
            ghcr.io/gameservermanagers/steamcmd:latest
            ghcr.io/gameservermanagers/steamcmd:ubuntu-22.04
      - name: Build and push (Ubuntu 20.04)
        uses: docker/build-push-action@v3.2.0
        with:
          context: .
          file: ./Dockerfile.ubuntu-2004
          platforms: linux/amd64
          push: true
          tags: |
            gameservermanagers/steamcmd:ubuntu-20.04
            ghcr.io/gameservermanagers/steamcmd:ubuntu-20.04
      - name: Build and push (Ubuntu 18.04)
        uses: docker/build-push-action@v3.2.0
        with:
          context: .
          file: ./Dockerfile.ubuntu-1804
          platforms: linux/amd64
          push: true
          tags: |
            gameservermanagers/steamcmd:ubuntu-18.04
            ghcr.io/gameservermanagers/steamcmd:ubuntu-18.04
